<nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><a href="#"><i class="icon-rocket"></i> SiTech</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="right">
              <li class="divider"></li>
              <li class="active"><a href="index.html">Home</a>
		    <li><a href="about.html">About Us</a></li>
               <li><a href="contact.html">Services</a></li>
               <li><a href="blog-list.html">Benefits</a></li>
                <li><a href="blog-post.html">Contact Us</a></li>
</li>
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="blog-list.html">Blog Main</a></li>
                  <li><a href="blog-post.html">Blog Post</a></li>
                  <li><a href="pricing-tables.html">Pricing Tables</a></li>
                  <li><a href="full-width.html">Full Width</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#">Other Stuff</a>

                <ul class="dropdown">
                  <li class="has-dropdown"><a href="#">Account</a>

                    <ul class="dropdown">
                      <li><label>Sign in & Register</label></li>
                      <li><a href="sign-in.html">Sign In</a></li>
                      <li><a href="register.html">Register</a></li>
                    </ul>
                  </li>
                  <li><a href="sitemap.html">Sitemap</a></li>
                </ul>
              </li>
            </ul>

          </section>
        </nav>